:root {
    --hamburger-clr: #D84282;
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

.container {
    display: inline-block;
}

.container:hover #menu {
    background: transparent;
    transition: background 200ms ease-in;
}

.container:hover #menu::before {
    transform: translateY(20px) rotate(45deg);
}

.container:hover #menu::after {
    transform: translateY(-20px) rotate(-45deg);
}

#menu {
    background-color: var(--hamburger-clr);
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    margin: 20px 0;
    transition: background 200ms ease-out 200ms;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    position: absolute;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    transition: transform 250ms ease-in-out;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}